# Ignore backend dependencies and local environment
/backend/node_modules
/backend/.env

# Ignore Flutter build and local files
/frontend/.dart_tool
/frontend/build
/frontend/.idea
/frontend/.vscode
/frontend/.packages
/frontend/ios/Pods
/frontend/.ios

# OS files
.DS_Store
Thumbs.db
